<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jobtbao.oauth.srv.hruser.dao.HrUserDao">
  <insert id="save" parameterType="com.jobtbao.oauth.srv.hruser.bean.HrUser" useGeneratedKeys="true">
    insert into hr_user ( `id`,`phone`,`head_pic`,`name`,`sex`,`card_number`,`status`,`version`,create_time,update_time,deleted,type)
    values (#{id},#{phone},#{headPic},#{name},#{sex},#{cardNumber},#{status},#{version},#{createTime},#{updateTime},#{deleted},#{type})
  </insert>
  <sql id="Base_Column_List">
    id, phone, password, nickname, `name`, sex, head_pic, card_pic, card_number, status,type,enabled,enabled_reason as enabledReason,
    company_id, email, create_time, update_time, deleted, version
  </sql>
  <select id="selectByPhone" parameterType="java.lang.String" resultType="com.jobtbao.oauth.srv.hruser.bean.HrUser">
    select
    <include refid="Base_Column_List" />
    from hr_user
    where phone = #{phone,jdbcType=VARCHAR}
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultType="com.jobtbao.oauth.srv.hruser.bean.HrUser">
    select 
    <include refid="Base_Column_List" />
    from hr_user
    where id = #{id}
  </select>

  <update id="updateByPrimaryKeySelective" parameterType="com.jobtbao.oauth.srv.hruser.bean.HrUser">
    update hr_user
    <set>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="headPic != null">
        head_pic = #{headPic,jdbcType=VARCHAR},
      </if>
      <if test="cardPic != null">
        card_pic = #{cardPic,jdbcType=VARCHAR},
      </if>
      <if test="cardBackPic != null">
        card_back_pic = #{cardBackPic,jdbcType=VARCHAR},
      </if>
      <if test="cardNumber != null">
        card_number = #{cardNumber,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=BIGINT},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=INTEGER},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>


</mapper>