<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jobtbao.oauth.srv.introuser.dao.IntroUserDao">

    <insert id="save" parameterType="com.jobtbao.oauth.srv.introuser.bean.IntroUser">
        INSERT INTO intro_user(id,`phone`,head_pic,`name`,`sex`,`card_number`,status,create_time,update_time,deleted,type)
        VALUES (
          #{id},#{phone},#{headPic},#{name},#{sex},#{cardNumber},#{status},#{createTime},#{updateTime},#{deleted},#{type}
        )
    </insert>

    <select id="selectByPhone" parameterType="string" resultType="com.jobtbao.oauth.srv.introuser.bean.IntroUser">
        select  `id`, `phone`, `password`, `nickname`, `name`,status, `sex`,intro_id, head_pic, card_pic, card_number, email, create_time, update_time, deleted, version,enabled,enabled_reason as enabledReason
        from intro_user where phone = #{phone}
    </select>

    <select id="getIntroUserById" parameterType="java.lang.Long" resultType="com.jobtbao.oauth.srv.introuser.bean.IntroUser">
        select  `id`, `phone`, `password`, `nickname`, `name`,status, `sex`,intro_id, head_pic, card_pic, card_number, email, create_time, update_time, type,deleted, version,enabled,enabled_reason as enabledReason
        from intro_user where id = #{userId} and deleted=1
    </select>

    <update id="updateByPrimaryKeySelective" parameterType="com.jobtbao.oauth.srv.introuser.bean.IntroUser">
        update intro_user
        <set>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=VARCHAR},
            </if>
            <if test="introId != null">
                intro_id = #{introId,jdbcType=BIGINT},
            </if>
            <if test="headPic != null">
                head_pic = #{headPic,jdbcType=VARCHAR},
            </if>
            <if test="cardPic != null">
                card_pic = #{cardPic,jdbcType=VARCHAR},
            </if>
            <if test="cardBackPic != null">
                card_back_pic = #{cardBackPic,jdbcType=VARCHAR},
            </if>
            <if test="cardNumber != null">
                card_number = #{cardNumber,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
		        type = #{type,jdbcType=BIGINT},
		     </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=INTEGER},
            </if>
            <if test="deleted != null">
                deleted = #{deleted,jdbcType=BIT},
            </if>
            <if test="version != null">
                version = #{version,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>
